@page "/"
@inject HttpClient Http
@using Pokedex.Shared.Models
<PageTitle>Index</PageTitle>

@if (trainerName == null)
        {
    <p>Loading...</p>

}
else
{
    <h1>Welcome, @trainerName</h1>
}


@code {
    private string trainerName;

    protected override async Task OnInitializedAsync()
    {
        // Make an HTTP GET request to retrieve the trainer's name
        var trainer = await Http.GetFromJsonAsync<Pokemontrainer[]>("api/Pokemontrainers");

        if (trainer != null)
        {
            trainerName = trainer[0].Tname;
        }
    }
}
